<ion-view view-title="Room {{room.slug}}">
  <ion-content>
    <h1>Viewing Room {{room.id}}</h1>
    <p ng-if="message">
      {{message}}
    </p>
    <div ng-switch on="room.current_round.active">
    <div ng-switch-when=true>
      <form ng-submit="attemptGuess()" id="guess-form" ng-if="room.current_round.active">
        Enter text and hit enter:
        <input type="text" ng-model="guess" name="guess" autocomplete="off"/>
        <input type="submit" id="submit" value="Submit" />
      </form>
    </div>
    <div ng-switch-default>
      <h3>Choose another topic!</h3>
      <ion-list>
        <ion-item ng-repeat="topic in recommendedTopics" ng-click="newRoomTopic(topic)">
        {{topic.prompt}}
        </ion-item>
      </ion-list>

      <!--get dem topics-->
    </div>
</div>


    <ion-item ng-repeat="answer in room.current_round.answers">
      <div ng-if="answer.guessed">
        {{answer.order}}
        {{answer.body}}
      </div>
      <div ng-if="!answer.guessed">
        <strong>{{answer.order}}</strong>
        ??????
      </div>
    </ion-item>
  </ion-content>
</ion-view>
